In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [ ]:
dtype = {
    "pkId": str,
    "fkLinkSerialId": str,
    "speed": float,
    "acceleration": float,
    "heading": float,
    "direction": str,
    "msla": float,
    "lat": float,
    "long": float,
    "temp": float,
    "feels_like": float,
    "pressure": float,
    "pressure": float,
    "humidity": float,
    "dew_point": float,
    "uvi": float,
    "clouds": float,
    "visibility": float,
    "wind_speed": float,
    "wind_gust": float,
    "wind_deg": float,
    "rain": float,
    "snow": float,
    "weatherid": str,
    "place_type": str,
    "accuracy": str,
    "place_name": str,
    "relevance": float,
    "text": str,
    "place": str,
    "region": str,
    "locality": str,
    "neighborhood": str,
    "postcode": str,
    "country": str,
    "fkReadingId": str,
    "fkSensorSerialId": str,
    "measurement": str,
    "value": float
}
parse_dates = ["timestamp", "tsReceived", "dt", "sunrise", "sunset"]

In [ ]:
left = pd.read_csv("/content/drive/My Drive/transport genie/left.csv", dtype=dtype, parse_dates=parse_dates)
left

,pkId,fkLinkSerialId,timestamp,speed,acceleration,heading,direction,msla,lat,long,tsReceived,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_gust,wind_deg,rain,snow,weatherid,place_type,accuracy,place_name,relevance,text,place,region,locality,neighborhood,postcode,country,fkReadingsId,fkSensorSerialId,measurement,value
0,2595649,0X0004BFD0379C,2022-05-07 07:39:00,0.0,1.0,0.0,N,45.0,-33.226643,150.961121,2022-05-07 07:39:00,2022-05-07 07:30:33,2022-05-06 16:33:48,2022-05-07 03:11:39,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,NaN,NaN,NaN,NaN
1,2595650,0X0004BFD0379C,2022-05-07 07:39:18,0.0,1.0,0.0,N,51.0,-33.226624,150.961136,2022-05-07 07:39:18,2022-05-07 07:30:33,2022-05-06 16:33:48,2022-05-07 03:11:39,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,NaN,NaN,NaN,NaN
2,2595651,0X0004BFD0379C,2022-05-07 07:39:36,0.0,1.0,0.0,N,58.0,-33.226597,150.961136,2022-05-07 07:39:36,2022-05-07 07:30:33,2022-05-06 16:33:48,2022-05-07 03:11:39,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,NaN,NaN,NaN,NaN
3,2595652,0X0004BFD0379C,2022-05-07 07:39:54,0.0,1.0,0.0,N,61.0,-33.226582,150.961121,2022-05-07 07:39:54,2022-05-07 07:30:33,2022-05-06 16:33:48,2022-05-07 03:11:39,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,NaN,NaN,NaN,NaN
4,2595653,0X0004BFD0379C,2022-05-07 07:40:12,0.0,1.0,0.0,N,54.0,-33.226616,150.961075,2022-05-07 07:40:12,2022-05-07 07:30:33,2022-05-06 16:33:48,2022-05-07 03:11:39,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831555,3590727,0XB827EB3B7400,2023-04-21 16:01:35,0.0,1.0,0.0,N,344.0,43.481388,-81.068611,2023-04-21 16:01:35,2023-04-21 15:56:28,2023-04-21 06:32:12,2023-04-21 20:13:26,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,804,address,point,"4651 145 Road, Sebringville, Ontario N0K 1X0, ...",1.0,145 Road,Sebringville,CA-ON,NaN,NaN,N0K 1X0,ca,NaN,NaN,NaN,NaN
831556,3590729,0XB827EB3B7400,2023-04-21 16:01:57,0.0,1.0,0.0,N,335.0,43.481411,-81.068573,2023-04-21 16:01:57,2023-04-21 15:56:28,2023-04-21 06:32:12,2023-04-21 20:13:26,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,804,address,point,"4651 145 Road, Sebringville, Ontario N0K 1X0, ...",1.0,145 Road,Sebringville,CA-ON,NaN,NaN,N0K 1X0,ca,NaN,NaN,NaN,NaN
831557,3590732,0XB827EB3B7400,2023-04-21 16:02:19,0.0,1.0,0.0,N,317.0,43.481373,-81.068649,2023-04-21 16:02:19,2023-04-21 15:56:28,2023-04-21 06:32:12,2023-04-21 20:13:26,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,804,address,point,"4651 145 Road, Sebringville, Ontario N0K 1X0, ...",1.0,145 Road,Sebringville,CA-ON,NaN,NaN,N0K 1X0,ca,NaN,NaN,NaN,NaN
831558,3590734,0XB827EB3B7400,2023-04-21 16:02:41,0.0,1.0,0.0,N,315.0,43.481339,-81.068718,2023-04-21 16:02:41,2023-04-21 15:56:28,2023-04-21 06:32:12,2023-04-21 20:13:26,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,804,address,point,"4651 145 Road, Sebringville, Ontario N0K 1X0, ...",1.0,145 Road,Sebringville,CA-ON,NaN,NaN,N0K 1X0,ca,NaN,NaN,NaN,NaN
831559,3590736,0XB827EB3B7400,2023-04-21 16:03:02,0.0,1.0,0.0,N,325.0,43.481346,-81.068680,2023-04-21 16:03:02,2023-04-21 15:56:28,2023-04-21 06:32:12,2023-04-21 20:13:26,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,804,address,point,"4651 145 Road, Sebringville, Ontario N0K 1X0, ...",1.0,145 Road,Sebringville,CA-ON,NaN,NaN,N0K 1X0,ca,NaN,NaN,NaN,NaN

In [ ]:
right = pd.read_csv("/content/drive/My Drive/transport genie/right.csv", dtype=dtype, parse_dates=parse_dates)
right

,pkId,fkLinkSerialId,timestamp,speed,acceleration,heading,direction,msla,lat,long,tsReceived,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_gust,wind_deg,rain,snow,weatherid,place_type,accuracy,place_name,relevance,text,place,region,locality,neighborhood,postcode,country,fkReadingsId,fkSensorSerialId,measurement,value
0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3590733,0XC07B52,temperature,22.41
1,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3590733,0XC07B52,humidity,37.27
2,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3590733,0XC0840A,temperature,21.89
3,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3590733,0XC0840A,humidity,41.48
4,3590722.0,0XB827EB3B7400,2023-04-21 16:00:29,0.0,1.0,0.0,N,355.0,43.481373,-81.068619,2023-04-21 16:00:29,2023-04-21 15:56:28,2023-04-21 06:32:12,2023-04-21 20:13:26,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,804.0,address,point,"4651 145 Road, Sebringville, Ontario N0K 1X0, ...",1.0,145 Road,Sebringville,CA-ON,NaN,NaN,N0K 1X0,ca,3590722,0XC0794D,temperature,11.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912453,2595665.0,0X0004BFD0379C,2022-05-07 07:43:49,0.0,1.0,0.0,N,73.0,-33.226665,150.961136,2022-05-07 07:43:49,2022-05-07 07:40:48,2022-05-06 16:33:48,2022-05-07 03:11:39,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804.0,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,2595665,0XC07A1A,humidity,45.53
912454,2595657.0,0X0004BFD0379C,2022-05-07 07:41:24,0.0,1.0,0.0,N,28.0,-33.226601,150.961136,2022-05-07 07:41:24,2022-05-07 07:40:48,2022-05-06 16:33:48,2022-05-07 03:11:39,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804.0,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,2595657,0XC07BAE,temperature,17.55
912455,2595657.0,0X0004BFD0379C,2022-05-07 07:41:24,0.0,1.0,0.0,N,28.0,-33.226601,150.961136,2022-05-07 07:41:24,2022-05-07 07:40:48,2022-05-06 16:33:48,2022-05-07 03:11:39,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804.0,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,2595657,0XC07BAE,humidity,44.66
912456,2595655.0,0X0004BFD0379C,2022-05-07 07:40:48,0.0,1.0,0.0,N,48.0,-33.226616,150.961105,2022-05-07 07:40:48,2022-05-07 07:40:48,2022-05-06 16:33:48,2022-05-07 03:11:39,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804.0,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,2595655,0XC07A1A,temperature,17.17
912457,2595655.0,0X0004BFD0379C,2022-05-07 07:40:48,0.0,1.0,0.0,N,48.0,-33.226616,150.961105,2022-05-07 07:40:48,2022-05-07 07:40:48,2022-05-06 16:33:48,2022-05-07 03:11:39,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,804.0,locality,NaN,"St Albans, New South Wales, Australia",1.0,St Albans,NaN,AU-NSW,NaN,NaN,NaN,au,2595655,0XC07A1A,humidity,45.44

In [ ]:
# outer = pd.read_csv("/content/drive/My Drive/transport genie/outer.csv", dtype=dtype, parse_dates=parse_dates)
# outer

In [ ]:
# inner = pd.read_csv("/content/drive/My Drive/transport genie/inner.csv", dtype=dtype, parse_dates=parse_dates)
# inner

# Column Transformations

In [ ]:
left.dtypes

pkId                        object
fkLinkSerialId              object
timestamp           datetime64[ns]
speed                      float64
acceleration               float64
heading                    float64
direction                   object
msla                       float64
lat                        float64
long                       float64
tsReceived          datetime64[ns]
dt                  datetime64[ns]
sunrise             datetime64[ns]
sunset              datetime64[ns]
temp                       float64
feels_like                 float64
pressure                   float64
humidity                   float64
dew_point                  float64
uvi                        float64
clouds                     float64
visibility                 float64
wind_speed                 float64
wind_gust                  float64
wind_deg                   float64
rain                       float64
snow                       float64
weatherid                   object
place_type                  object
accuracy                    object
place_name                  object
relevance                  float64
text                        object
place                       object
region                      object
locality                    object
neighborhood                object
postcode                    object
country                     object
fkReadingsId               float64
fkSensorSerialId            object
measurement                 object
value                      float64
dtype: object

In [ ]:
import datetime
from math import sin, cos, pi

In [ ]:
left.columns

Index(['pkId', 'fkLinkSerialId', 'timestamp', 'speed', 'acceleration',
       'heading', 'direction', 'msla', 'lat', 'long', 'tsReceived', 'dt',
       'sunrise', 'sunset', 'temp', 'feels_like', 'pressure', 'humidity',
       'dew_point', 'uvi', 'clouds', 'visibility', 'wind_speed', 'wind_gust',
       'wind_deg', 'rain', 'snow', 'weatherid', 'place_type', 'accuracy',
       'place_name', 'relevance', 'text', 'place', 'region', 'locality',
       'neighborhood', 'postcode', 'country', 'fkReadingsId',
       'fkSensorSerialId', 'measurement', 'value'],
      dtype='object')

In [ ]:
def suncalc(s: float):
    if (s < 1):
        return sin(s)
    else:
        return 1 - s

In [ ]:
left["sun"] = (left.dt - left.sunrise).apply(lambda dt: dt.total_seconds()) / (left.sunset - left.sunrise).apply(lambda dt: dt.total_seconds())
left["dtt"] = left.dt.apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour, (dt.minute // 5) * 5))
left.drop(columns=["pkId", "fkLinkSerialId", "acceleration", "heading", "direction", "weatherid", "place_type", "accuracy", "place_name", "relevance", "text", "place", "region",
           "locality", "neighborhood", "postcode", "country", "fkReadingsId", "fkSensorSerialId"] + parse_dates, inplace=True)
left.sun = left.sun.apply(suncalc)
left.rename(columns={"dtt": "dt"}, inplace=True)
left

,speed,msla,lat,long,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_gust,wind_deg,rain,snow,measurement,value,sun,dt
0,0.0,45.0,-33.226643,150.961121,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,NaN,NaN,-0.405895,2022-05-07 07:30:00
1,0.0,51.0,-33.226624,150.961136,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,NaN,NaN,-0.405895,2022-05-07 07:30:00
2,0.0,58.0,-33.226597,150.961136,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,NaN,NaN,-0.405895,2022-05-07 07:30:00
3,0.0,61.0,-33.226582,150.961121,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,NaN,NaN,-0.405895,2022-05-07 07:30:00
4,0.0,54.0,-33.226616,150.961075,8.17,7.37,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,NaN,NaN,-0.405895,2022-05-07 07:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831555,0.0,344.0,43.481388,-81.068611,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,NaN,NaN,0.634295,2023-04-21 15:55:00
831556,0.0,335.0,43.481411,-81.068573,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,NaN,NaN,0.634295,2023-04-21 15:55:00
831557,0.0,317.0,43.481373,-81.068649,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,NaN,NaN,0.634295,2023-04-21 15:55:00
831558,0.0,315.0,43.481339,-81.068718,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,NaN,NaN,0.634295,2023-04-21 15:55:00
831559,0.0,325.0,43.481346,-81.068680,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,NaN,NaN,0.634295,2023-04-21 15:55:00

In [ ]:
right = right.loc[right.drop(columns=["fkReadingsId", "fkSensorSerialId", "measurement", "value"]).dropna(how='all').index]

In [ ]:
right["sun"] = (right.dt - right.sunrise).apply(lambda dt: dt.total_seconds()) / (right.sunset - right.sunrise).apply(lambda dt: dt.total_seconds())
right["dtt"] = right.dt.apply(lambda dt: datetime.datetime(dt.year, dt.month, dt.day, dt.hour, (dt.minute // 5) * 5))
right.drop(columns=["pkId", "fkLinkSerialId", "acceleration", "heading", "direction", "weatherid", "place_type", "accuracy", "place_name", "relevance", "text", "place", "region",
           "locality", "neighborhood", "postcode", "country", "fkReadingsId", "fkSensorSerialId"] + parse_dates, inplace=True)
right.sun = right.sun.apply(suncalc)
right.rename(columns={"dtt": "dt"}, inplace=True)
right

,speed,msla,lat,long,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_gust,wind_deg,rain,snow,measurement,value,sun,dt
4,0.0,355.0,43.481373,-81.068619,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,temperature,11.47,0.634295,2023-04-21 15:55:00
5,0.0,355.0,43.481373,-81.068619,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,humidity,99.99,0.634295,2023-04-21 15:55:00
6,0.0,355.0,43.481373,-81.068619,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,temperature,11.42,0.634295,2023-04-21 15:55:00
7,0.0,355.0,43.481373,-81.068619,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,humidity,99.99,0.634295,2023-04-21 15:55:00
12,0.0,362.0,43.481396,-81.068588,10.17,9.54,1013.0,88.0,NaN,NaN,100.0,10000.0,5.82,8.72,304.0,NaN,NaN,temperature,11.72,0.634295,2023-04-21 15:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912453,0.0,73.0,-33.226665,150.961136,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.53,-0.421964,2022-05-07 07:40:00
912454,0.0,28.0,-33.226601,150.961136,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.55,-0.421964,2022-05-07 07:40:00
912455,0.0,28.0,-33.226601,150.961136,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,44.66,-0.421964,2022-05-07 07:40:00
912456,0.0,48.0,-33.226616,150.961105,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.17,-0.421964,2022-05-07 07:40:00
912457,0.0,48.0,-33.226616,150.961105,7.73,6.86,1024.0,70.0,NaN,NaN,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.44,-0.421964,2022-05-07 07:40:00

In [ ]:
all = pd.concat([left, right], ignore_index=True).dropna(axis=1, how='all')
all = all[~all.value.isna()]
all

,speed,msla,lat,long,temp,feels_like,pressure,humidity,clouds,visibility,wind_speed,wind_gust,wind_deg,rain,snow,measurement,value,sun,dt
6,0.0,48.0,-33.226616,150.961105,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.17,-0.421964,2022-05-07 07:40:00
7,0.0,48.0,-33.226616,150.961105,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.44,-0.421964,2022-05-07 07:40:00
9,0.0,28.0,-33.226601,150.961136,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.55,-0.421964,2022-05-07 07:40:00
10,0.0,28.0,-33.226601,150.961136,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,44.66,-0.421964,2022-05-07 07:40:00
18,0.0,73.0,-33.226665,150.961136,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.09,-0.421964,2022-05-07 07:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236727,0.0,73.0,-33.226665,150.961136,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.53,-0.421964,2022-05-07 07:40:00
1236728,0.0,28.0,-33.226601,150.961136,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.55,-0.421964,2022-05-07 07:40:00
1236729,0.0,28.0,-33.226601,150.961136,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,44.66,-0.421964,2022-05-07 07:40:00
1236730,0.0,48.0,-33.226616,150.961105,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.17,-0.421964,2022-05-07 07:40:00
1236731,0.0,48.0,-33.226616,150.961105,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.44,-0.421964,2022-05-07 07:40:00

In [ ]:
def sindeg(d: float):
    return sin(d / 180 * pi)
def cosdeg(d: float):
    return cos(d / 180 * pi)

In [ ]:
all["x"] = all.lat.apply(cosdeg) * all.long.apply(cosdeg)
all["y"] = all.lat.apply(cosdeg) * all.long.apply(sindeg)
all["z"] = all.lat.apply(sindeg)
all.drop(columns=["lat", "long"], inplace=True)
all

,speed,msla,temp,feels_like,pressure,humidity,clouds,visibility,wind_speed,wind_gust,wind_deg,rain,snow,measurement,value,sun,dt,x,y,z
6,0.0,48.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.17,-0.421964,2022-05-07 07:40:00,-0.731353,0.406045,-0.547952
7,0.0,48.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.44,-0.421964,2022-05-07 07:40:00,-0.731353,0.406045,-0.547952
9,0.0,28.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.55,-0.421964,2022-05-07 07:40:00,-0.731353,0.406044,-0.547952
10,0.0,28.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,44.66,-0.421964,2022-05-07 07:40:00,-0.731353,0.406044,-0.547952
18,0.0,73.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.09,-0.421964,2022-05-07 07:40:00,-0.731352,0.406044,-0.547953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236727,0.0,73.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.53,-0.421964,2022-05-07 07:40:00,-0.731352,0.406044,-0.547953
1236728,0.0,28.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.55,-0.421964,2022-05-07 07:40:00,-0.731353,0.406044,-0.547952
1236729,0.0,28.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,44.66,-0.421964,2022-05-07 07:40:00,-0.731353,0.406044,-0.547952
1236730,0.0,48.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,temperature,17.17,-0.421964,2022-05-07 07:40:00,-0.731353,0.406045,-0.547952
1236731,0.0,48.0,7.73,6.86,1024.0,70.0,94.0,10000.0,1.68,3.55,322.0,NaN,NaN,humidity,45.44,-0.421964,2022-05-07 07:40:00,-0.731353,0.406045,-0.547952

In [ ]:
all.fillna(0, inplace=True)
all.to_pickle("/content/drive/My Drive/all.pkl")